<div class="container">
	<footer class="my-5 pt-5 text-muted text-center text-small">
        <table class="table table-bordered table-hover">
            <thead class="thead-inverse">
                <tr>
                    <th>Horaires d'ouverture</th>
                    <th>Lundi - Vendredi</th>
                    <th>Weekends</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>Garage V.Parrot</strong><br>
                        1670 avenue des Etats-Unis<br>
                        Toulouse 31000<br>
                        05.00.00.00.00<br>
                    </td>
                    <td>
                        <label>Lun.</label> 08:45-12:00	14:00-18:00<br>
                        <label>Mar.</label> 08:45-12:00	14:00-18:00<br>
                        <label>Mer.</label> 08:45-12:00	14:00-18:00<br>
                        <label>Jeu.</label> 08:45-12:00	14:00-18:00<br>
                        <label>Ven.</label> 08:45-12:00	14:00-18:00<br>
                    </td>
                    <td>
                        <label>Sam.</label>08:45-12:00<br>
                        <label>Dim.</label> Fermé<br>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="mb-1">© 2021-2023 Garage V. Parrot</p>
    </footer>
    
</div>